.search_content{
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.myInput{
    
    
    height: 30px;
    width: 500px;
    border-radius: 3px;
    
    
}
.myButton{
    
    
    height: 30px;
    width: 50px;
    border-radius: 3px;
}
.myButton:hover{
    background: rgb(224, 224, 224);
    color: rgb(0, 0, 0);
    cursor: pointer;
}